<li class="list-group-item">
    {{burger_name}}

    <button class="change-devoured btn btn-secondary"
        data-id="{{id}}"
        data-newDevoured="{{DEVOURED}}">
        {{#if devoured}}Devour It!{{else}}Yum!{{/if}}
    </button>

</li>